.App {
  text-align: left;
  color: var(--color-white);
}

a:link,
a:visited {
  text-decoration: none;
  display: block;
}

.display__flex {
  display: flex;
}

.margin-left-right-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.loader {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
