.room {
  background-color: var(--color-white);
  padding: 1.5rem;
  color: var(--color-black);
  border-radius: 2rem;
  position: relative;
  box-shadow: var(--shadow);
}

.room__name{
  color: var(--color-black);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.room__devices {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.room__trash {
  position: absolute;
  bottom: .8rem;
  right: .8rem;
  padding: 1rem;
}